
# added by GitSavvy
/webscraper/credentials

other/NNlayout.graffle

# added by GitSavvy
/nndocker.sublime-workspace

# added by GitSavvy
/nndocker.sublime-project

# added by GitSavvy
/other/old/

# added by GitSavvy
/old/oldwebscraper.Dockerfile

# added by GitSavvy
/old/oldwebscraper.Dockerfile

# added by GitSavvy
/old/oldwebscraper.Dockerfile

# added by GitSavvy
/old/oldwebscraper.Dockerfile

# added by GitSavvy
/webscraper/config
